.image-container1{
    height: 730px;
    width: 100%;
    background-image: url("./th.jpeg");
    position: relative;
    top:76px;
    background-size: 100% 100%;
    animation-name: images;
    animation-duration: 12s;
    animation-iteration-count: infinite;


}
.text{
    color: white;
    text-shadow: 10px 10px 10px 10px rgb(197, 232, 220);
    position: relative;
    top:250px;
    left:300px;
    width: fit-content;
    font-size: 20px;
    animation-name: example;
  animation-duration: 1s;
 
  align-items:center;
  
 

}
@keyframes example {
    0%   {font-size: 5px;}
   
    100% {font-size: 20px;}
  }
.order-button{
    width: 130px;
    height: 60px;
    background-color: rgb(195, 195, 174);
    border-radius: 20px;
    margin-top: 10px;
    position: relative;
    left:30%;
    
    font-family: 'Times New Roman', Times, serif;
    animation-name: buttonbig;
    animation-duration: 1s;
    box-shadow: 10px 10p 10px 10px yellow;
    opacity: 0.7;


}
.order-button:hover{
    animation-name: buttonbig;
    animation-duration: 3s;
    /* animation-iteration-count:infinite ; */
    opacity: 0.9;
  
 
 
    
}
@keyframes buttonbig {
    0% {width: 100px;   }
    100%{width:130px ;height:80 ;}
    
}


.tag{
    text-shadow: 10px 10px 10px 10px rgb(233, 233, 240);
    font-family: 'Golos Text', sans-serif;
    text-shadow: 10px 10p 10px 10px rgb(8, 8, 8);


    

}
.reasons-container{
    position: relative;
    display: flex;
    flex-direction: row;
    top: 100px;
    

}
.reason{
    background-color:white;
    margin: 20px;
    box-shadow: 5px 5px 5px 5px gray;
    padding: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
@media screen and (max-width: 1430px) {
    .text{
        color: white;
        text-shadow: 10px 10px 10px 10px rgb(197, 232, 220);
        position: relative;
        top:250px;
        left:100px;
        width: fit-content;
        font-size: 20px;
        animation-name: example;
      animation-duration: 1s;
     
      align-items:center;
      
     
    
    }
    @media  screen and (max-width:672px) {
        .text{
            color: white;
            text-shadow: 10px 10px 10px 10px rgb(197, 232, 220);
            position: relative;
            top:250px;
            left:100px;
            width: fit-content;
            font-size: 20px;
            animation-name: example;
          animation-duration: 1s;
         
          align-items:center;
          
         
        
        }
        .reasons-container{
            position: relative;
            display: flex;
            flex-direction: column;
            top: 100px;
          
            
        
        }
        
    }
  
  }
  @keyframes images {
    0% { background-image: url("./th.jpeg");  }
    33%{background-image: url("./pizza3.jpeg");}
    66%{background-image: url("./garlic.jpeg");}
    100%{background-image: url("./pizza2.jpeg");}
    
}
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    .image-container1{
        height: 400px;
        width: 100%;
        background-image: url("./th.jpeg");
        
        position: relative;
        top:76px;
        background-size: 100% 100%;
        animation-name: images;
        animation-duration: 12s;
    animation-iteration-count: infinite;
        /* animation-duration: 4s; */
    
    
    }
    .text{
        color: white;
        text-shadow: 10px 10px 10px 10px rgb(197, 232, 220);
        position: relative;
        top:100px;
        left:60px;
        width: fit-content;
        font-size: 10px;
        animation-name: example;
      animation-duration: 1s;
     
      align-items:center;
      
     
    
    }
   
  }
  