*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    background-color: rgb(42, 41, 43);
    color: white;
    width:100%;
    position:fixed;
    /* position: absolute; */
    z-index: 1;
}
.toogle-button{
    /* border-radius: 20px; */
    width: 50px;
    color: black;
    box-shadow: 2px 3px 2px 2px rgb(83, 80, 79);
}
.logo-container{
    font-size:  30px;
}
.nav-links{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width:75%;
    font-size: 20px;
}
.home,.menu,.auth,.skills{
    text-decoration: none;
    margin:0px 10px;
    color: rgb(253, 253, 255);
    cursor: pointer;
    padding: 0px 10px;
}
@media screen and (max-width:404px) {
   .nav-links{
    font-size: 15px;

   }
   .home,.menu,.auth,.skills{
    text-decoration: none;
    margin:0px -4px;
    color: rgb(253, 253, 255);
    cursor: pointer;
    padding: 0px 10px;
    padding-top: 10px;
}
    
    
}