.search-box {
    /* -webkit-appearance: none; */
    /* border: none;
    outline: none; */
    padding: 10px;
    width: 150px;
    line-height: 30px;
    /* margin-top: 10px;
    margin-bottom: 30px; */
    height: 30px;
  }
  