.sign-up-component{
    position: relative;
    top:100px;
    height: 600px;
    width:500px;
    background-color: rgb(218, 218, 218);
    text-align: center;
    left:30%;
    display: flex;
    flex-direction: column;


}
@media screen and (max-width: 992px) {
    .sign-up-component{
      position: relative;
      left:5%;
      width:400px;
      margin-right: 40px;
    }
  }
  .input{
    height: 30px;
    border-radius: 3px;
    margin:10px;
    width:300px;
    text-align: center;
}
.sign-up-button{
    margin-top: 30px;
   
    margin-left: 150px;
}

